/* 去除标签默认格式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
    font: 16px/1.5 "Microsoft Yahei","Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}
/* 去除列表默认格式 */
ul,
ol{
    list-style: none;
}
/* 去除标签默认倾斜效果 */
i,em{
    font-style: normal;
}
/* 去除a标签默认格式 */
a{
    text-decoration: none;
    color: #333;
}
/* 去除input标签默认格式 */
input{
    border: 0;
    outline: 0;
    color: #333;
}
/* 去除img标签默认格式，去除下间隙，设置垂直居中 */
img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
/* 去除标题默认格式 */
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
}