body {
    background-color: #f3f5f7;
}
/* 版心格式 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
/* 头部 */
.header {
    height: 100px;
    background-color: white;
}
.header .wrapper {
    display: flex;
    padding-top: 29px;
}
/* 头部->logo */
.logo a {
    display: block;/* 行内→块，宽高生效 */
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;/* 将文字字号调为0，隐藏文字 */
}
/* 头部->导航 */
.nav{
    margin-left: 102px;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right: 24px;
}
.nav li a{
    display: block;/* 行内->块，上下padding生效 */
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}
/* .active：表示默认选中的标签；:hover：表示鼠标悬停效果 */
.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}
/* 头部->搜索 */
.search{
    display: flex;/* 拉伸侧轴使input占满盒子 */
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 14px;
}
.search input{
    flex: 1;/* 输入框占满盒子剩下的全部 */
    border: 0;/* 消除边框线 */
    background-color: transparent;/* 颜色改为透明（可以透底色） */
    outline: none;/* 去掉焦点框（点击输入框不会有边框线） */
}
/* ::placeholder选择器，修改placeholder属性 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
.search a{
    /* display: block; 父级是flex布局，子级变弹性盒子，宽高生效*/
    align-self: center;/* 侧轴居中 */
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}
/* 头部->用户 */
.user{
    margin-left: 32px;
    margin-top: 4px;
}
.user img{
    vertical-align: middle;/* 相对于父元素垂直居中 */
    margin-right: 7px;
}
.user span{
    vertical-align: middle;
    font-size: 16px;
    color: #666;
}
/* banner区域 */
.banner{
    height: 420px;
    background-color: #0092cb;
}
.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}
/* banner->左侧导航 */
.banner .wrapper .left{
    width: 192px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
    padding: 3px 20px;
}
.banner .wrapper .left a{
    display: block;/* 转块可以使宽度占满父级的100% */
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    background: url(../images/right.png) no-repeat right center;/* 背景图不平铺，右侧，居中 */
}
.banner .wrapper .left a:hover{
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}
/* banner->右侧课程表 */
.banner .wrapper .right{
    width: 218px;
    height: 305px;
    margin-top: 60px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .wrapper .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
}
.banner .wrapper .right .content{
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}
.banner .wrapper .right .content dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .wrapper .right .content dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.banner .wrapper .right .content dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.banner .wrapper .right .content dd span:nth-child(1){
    color: #00a4ff;
}
.banner .wrapper .right .content dd span:nth-child(2){
    color: #7d7d7d;
}
.banner .wrapper .right a{
    display: block;
    height: 32px;
    line-height: 32px;/* 文字垂直居中 */
    text-align: center;/* 文字水平居中 */
    background-color: #00a4ff;
    border-radius: 15px;
    color: #fff;
}
/* recommend */
.recommend{
    display: flex;
    height: 60px;
    margin-top: 11px;
    padding: 0 20px;
    line-height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);/* 盒子阴影 */
}
.recommend h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}
.recommend ul{
    display: flex;
    flex: 1;
}
.recommend ul li a{
    padding: 0 24px;
    border-right:1px solid #e0e0e0;
}
.recommend ul li:last-child a{
    border-right: 0;
    font-size: 18px;
}
.recommend .motify{
    font-size: 16px;
    color: #00a4ff;
}
/* course */
.course{
    margin-top: 15px;
}
/* 设置通用样式，方便接下来的版块共用 */
/* 标题 */
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.hd h3{
    font-size: 24px;
    font-weight: 400;
}
.hd a{
    width: 76px;
    color: #999;
    background: url(../images/more.png) no-repeat right center;
}
/* 内容 */
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li{
    width: 228px;
    height: 271px;
    margin-bottom: 14px;
    background-color: pink;
}
.bd li .pic{
    height: 156px;
}
.bd li .text{
    height: 115px;
    padding: 20px;
    background-color: #fff;
}
.bd li .text h4{
    height: 40px;
    margin-bottom: 14px;
    line-height: 20px;
    font-weight: normal;
}
.bd li .text p{
    color: #999;
    line-height: 20px;
}
.bd li .text p span{
    color: #fa6400;
}
.bd li .text p i{
    font-style: normal;
}
/* 前端 */
.hd ul{
    display: flex;
}
.hd ul li{
    margin-right: 60px;
    font-size: 16px;
}
.hd ul li a .active,
.hd ul li a:hover{
    color: #00a4ff;
}
.bd{
    display: flex;
    justify-content: space-between;
}
.bd .left{
    width: 228px;
}
.bd .right{
    width: 957px;
}
.bd .right .top{
    height: 100px;
    margin-bottom: 15px;
}
/* 为什么不加width会出现space-between没用的情况？ */
.bd2 ul{
    width: 1200px;
}
/* footer */
.footer{
    height: 273px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #fff;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.footer .left{
    width: 440px;
}
.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
}
.footer .right{
    display: flex;
}
.footer .right dl{
    margin-right: 130px;
}
.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}
.footer .right dd a{
    color: #666;
    line-height: 24px;
}